@page
@model Course_Front_end.Pages.CourseListingModel
@{
}
<h2>Converter</h2>
USD: <input type="text" id="txtA" /> <br />
Rate: <input type="text" id="txtB" /> <br />
<input type="button" onclick="sum()" value="Exchange"/>
<script type="text/javascript">
	var apiUrl = 'https://localhost:7020/api/Course';
function sum() {
var a = document.getElementById("txtA").value;
var b = document.getElementById("txtB").value;
apiUrl = apiUrl.replace("{1}", a).replace("{2}", b);
fetch(apiUrl).then(response => {
return response.json();
}).then(data => {
// Work with JSON data here
console.log(data);
alert(data);
}).catch(err => {
// Do something for an error here
alert(err);
});
}
</script>